@font-face {
	font-family: "walmart-icons7Gz945DY_2";
	src: url("//a.sellpoint.net/w/fonts/WalmartIcons-normal.eot?v=1.0.0&w=7Gz945DY_2");
	src: url("//a.sellpoint.net/w/fonts/WalmartIcons-normal.eot?#iefix&v=1.0.0&w=7Gz945DY_2") format("embedded-opentype"), url("//a.sellpoint.net/w/fonts/WalmartIcons-normal.woff2?v=1.0.0&w=7Gz945DY_2") format("woff2"), url("//a.sellpoint.net/w/fonts/WalmartIcons-normal.woff?v=1.0.0&w=7Gz945DY_2") format("woff"), url("//a.sellpoint.net/w/fonts/WalmartIcons-normal.ttf?v=1.0.0&w=7Gz945DY_2") format("truetype"), url("//a.sellpoint.net/w/fonts/WalmartIcons-normal.svg?v=1.0.0&w=7Gz945DY_2#wamlartregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
    background-image: url(../images/imgpsh_fullsize_anim.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 1550px;
}

.main-container {
    position: absolute;
    width: 640px;
    height: 640px;
    top: 145px;
    left: 32%;
    transform: translate(-50%);
}

.top {
    height: 520px;
}

.bottom {
    height: 130px;
    margin: 0px 100px;
    
}

.main-slider-item img {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 6px;
    cursor: pointer;
}

.main-slider-item.active img {
    border-bottom: 4px solid #cb2c90;
}
.main-content-item {
    height: 480px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-content-item[data-index="1"] {
    background-image: url(../images/main-slider/full/1.jpg);
}

.main-content-item[data-index="2"] {
    background-image: url(../images/main-slider/full/2.jpg);
}

.main-content-item[data-index="3"] {
    background-image: url(../images/main-slider/full/3.jpg);
}

.main-content-item[data-index="4"] {
    background-image: url(../images/main-slider/full/4.jpg);
}

.main-content-item[data-index="5"] {
    background-image: url(../images/main-slider/full/5.gif);
}

.main-content-item[data-index="6"] {
    background-image: url(../images/main-slider/full/6.jpg);
}

.main-content-item[data-index="7"] {
    background-image: url(../images/main-slider/full/7.png);
}

.hotpoint-outer {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 0;
    height: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-radius: 0;
    text-align: center;
    color: #2222AA;
}

.hotpoint-inner {
    padding: 3px;
    box-shadow: #afafaf 0 0 6px 4px;
    box-sizing: content-box;
    cursor: pointer;
    font-weight: normal;
    border-radius: 100%;
    -webkit-animation: hotpoint_inner_anim 1.5s infinite alternate;
    -moz-animation: hotpoint_inner_anim 1.5s infinite alternate;
    animation: hotpoint_inner_anim 1.5s infinite alternate;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.hotpoint-inner i {
    background-color: #afafaf;
    border-radius: 100%;
    padding: 2px;
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    height: 36px;
    width: 36px;
    text-align: center;
}

.hotpoint-inner i:before {
    content: "\e802";
    display: inline-block;
    height: 36px;
    width: 36px;
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    font-family: "walmart-icons7Gz945DY_2";
    font-style: normal;
}

.hotpoint-outer[data-index="4"] .hotpoint-inner i:before {
    content: '\e801';
}

@-webkit-keyframes hotpoint_inner_anim {
    from {
        box-shadow: #afafaf 0 0 6px 4px;
    }

    to {
        box-shadow: rgba(175, 175, 175, 0) 0 0 6px 4px;
    }
}

@-moz-keyframes hotpoint_inner_anim {
    from {
        box-shadow: #afafaf 0 0 6px 4px;
    }

    to {
        box-shadow: rgba(175, 175, 175, 0) 0 0 6px 4px;
    }
}

@keyframes hotpoint_inner_anim {
    from {
        box-shadow: #afafaf 0 0 6px 4px;
    }

    to {
        box-shadow: rgba(175, 175, 175, 0) 0 0 6px 4px;
    }
}

.hotpoint-outer:hover {
    background-color: transparent;
    border: none;
}

.hotpoint-outer:hover .hotpoint-inner {
    animation: none;
    box-shadow: black 0 0 6px 4px;
}

.hotpoint-outer:hover .hotpoint-inner i {
    background-color: #000;
}

#omni-video {
    width: 100%;
}

#omni-video-main {
    width: 75%;
    margin-top: 75px;
}

.slick-prev:before, .slick-next:before { 
    font-family: "slick";
    font-size: 35px;
    line-height: 0.4;
    background: #ccc;
    border-radius: 100%;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 30px;
    height: 30px;
    display: block;
}   

.slick-prev:hover:before, .slick-next:hover:before {
    background: #000;
}

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }

.mfp-bg{
    background-color: rgba(255, 255, 255, 0.8);
}

.my-lightbox .mfp-container {
    text-align: center;
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    padding: 0 8px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);

    padding: 32px;
    background-color: white;
    box-sizing: border-box;
    border: 4px solid #afafaf;
    border-radius: 10px;
}

.my-lightbox img.mfp-img {
    padding: 0;
}

.my-lightbox .mfp-close {
    background: #afafaf;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    width: 45px;
    opacity: 1;
    cursor: pointer;
    top: -55px;
    right: -55px;
}